{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "chrome": "latest",
        "edge": "latest",
        "firefox": "latest",
        "safari": "latest",
        "ie": "11",
        "ios": "latest"
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties"
  ]
}