$edited: false;
$brand-01: #5aaafa;
$brand-02: #7cc7ff;
$brand-03: #41d6c3;
$ui-01: #2d3f49;
$ui-02: #20343e;
$ui-03: #152935;
$ui-04: #20343e;
$ui-05: #8c9ba5;
$text-01: #ffffff;
$text-02: #dfe6eb;
$text-03: #8c9ba5;
$inverse-01: #152935;
$field-01: rgba(255, 255, 255, .1);
$support-01: #ff5050;
$support-02: #8cd211;
$support-03: #efc100;
$support-04: #7cc7ff;
$use-layer: true;
$input-border: 1px solid transparent;
$input-label-weight: 700;
$button-font-weight: 700;
$button-font-size: .875rem;
$button-border-radius: 0;
$button-height: 40px;
$button-padding: 0 1rem;
$button-padding-sm: 0 .5rem;
$button-border-width: 2px;
$accordion-flex-direction: row;
$accordion-justify-content: flex-start;
$accordion-arrow-margin: 0 0 0 .25rem;
$accordion-title-margin: 0 0 0 1rem;
$accordion-content-padding: 0 1rem 0 1.75rem;
$checkbox-border-width: 2px;
$content-switcher-border-radius: 8px;
$content-switcher-option-border: 1px solid $brand-01;
$data-table-heading-transform: uppercase;
$modal-border-top: $brand-01 4px solid;
$radio-border-width: 2px;
$structured-list-padding: 2rem;
$nav-01: #1b2834;
$nav-02: #1c496d;