$edited: false;
$brand-01: #3d70b2;
$brand-02: #5596e6;
$brand-03: #41d6c3;
$inverse-01: #ffffff;
$inverse-02: #272d33;
$ui-01: #ffffff;
$ui-02: #f4f7fb;
$ui-03: #dfe3e6;
$ui-04: #8897a2;
$ui-05: #5a6872;
$text-01: #152934;
$text-02: #5a6872;
$text-03: #cdd1d4;
$field-01: #f4f7fb;
$field-02: #ffffff;
$support-01: #e71d32;
$support-02: #5aa700;
$support-03: #efc100;
$support-04: #5aaafa;