.footer {
  flex: 1;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5rem 1.5rem 2rem;

  .bx--link {
    @include font-size('12');
    margin: 1rem 0;
  }

  .footer-copy {
    @include font-size('11');
  }
}

.social {
  display: flex;
  align-items: center;

  svg {
    fill: #8c9ba5;
    height: 24px;
    width: 24px;
    transition: fill $transition--base;

    &:hover {
      fill: #3d70b2;
    }
  }

  a {
    margin-right: rem(24px);

    &:last-child {
      margin-right: 0;
    }
  }
}
