.components .component__container {
  .bx--radio-button__appearance {
      min-width: 1.125rem;
    }

    .bx--footer {
      position: relative;
    }

  .bx--tile-group {
    display: flex;

    & > * {
      margin-right: 1rem;
    }
  }
}
