.components .component__container {
  .bx--radio-button__appearance {
      min-width: 1.125rem;
    }

    .bx--modal {
      z-index: 10001;
    }

    .bx--interior-left-nav {
      top: 0;
      position: relative;
      min-height: 400px;

      .bx--interior-left-nav-collapse {
        margin-bottom: 0;
      }
    }

    .bx--footer {
      position: relative;
    }

    .bx--module--double {
      width: 100%;
    }

    .bx--toolbar div:nth-of-type(2) .bx--overflow-menu__icon {
      padding: 0;
    }
}
