@import '../../../node_modules/carbon-components/src/globals/scss/typography';

.sidebar {
  position: fixed;
  right: 0;
  height: 100vh;
  width: rem(300px);
  background-color: #ffffff;
  color: #152934;
  overflow-y: scroll;
  z-index: 10000;
  border-left: 1px solid #dfe3e6;

  .bx--dropdown {
    color: #152934;
    background-color: #ebf0f7;

    &:focus {
      outline: 1px solid #047cc0;
    }

    .bx--dropdown__arrow {
      fill: #3d70b2;
    }
  }

  .bx--dropdown-link:hover,
  .bx--dropdown-link:focus {
    background-color: rgba(124, 199, 255, 0.1);
    color: #152934;
  }

  .bx--dropdown--open .bx--dropdown-list {
    background-color: #fff;
  }

  .bx--link:visited,
  .bx--link {
    color: #3d70b2;
  }

  .bx--btn--primary {
    background-color: #3d70b2;

    &:hover {
      background-color: #5596e6;
    }
  }

  .bx--checkbox:checked + .bx--checkbox-appearance,
  .bx--checkbox:checked + .bx--checkbox-label .bx--checkbox-appearance {
    background-color: #3d70b2;
    border-color: #3d70b2;
  }

  header {
    padding: 1.5rem;
  }
}

.sidebar__title {
  @include font-size('20');
  font-weight: 700;
  margin-bottom: 0.5rem;

  span {
    font-weight: 300;
  }
}

.variables {
  border-top: 1px solid #dfe3e6;
  padding: 2rem 1.5rem;

  .variables__heading {
    @include font-size('12');
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .variables-reset {
    @include font-size('12');
    border: 0;
    background-color: #fff;
    padding: 0;
    cursor: pointer;
    color: #3d70b2;
    opacity: 1;
    visibility: visible;

    &--hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  .variables__subtitle {
    @include font-size('11');
    display: inline-block;
    margin-bottom: 1rem;
    color: #5a6872;

    .bx--link {
      @include font-size('11');
    }
  }

  .variables__list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-bottom: 1px solid #dfe3e6;

    &:last-child {
      border: 0;
    }
  }
}

.variable {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3333333%;
  margin: 0.25rem 0;
  padding: 0 0.25rem 0.5rem;
  border: 1px solid transparent;
  box-shadow: none;
  transition: border $transition--base;

  .variable__input {
    border: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    min-height: 30px;

    &::-webkit-color-swatch {
      border-color: #dfe3e6;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .variable__name {
    @include font-size('12');
    line-height: 1.5;
    font-weight: 700;
    padding-left: rem(2px);
  }

  .variable__hex {
    @include font-size('12');
    color: #5a6872;
    padding-left: rem(3px);
  }

  &:hover {
    border: 1px solid #dfe3e6;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
}

.export {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #dfe3e6;
  border-bottom: 1px solid #dfe3e6;
}
