.sidebar {
  height: 100vh;
  width: rem(300px);
  background-color: $ui-01;

  header {
    padding: 1.5rem;
  }
}

.sidebar__title {
  @include font-size('20');
  font-weight: 700;
  margin-bottom: .5rem;

  span {
    font-weight: 300;
  }
}

.variables {
  border-top: 1px solid $ui-04;
  padding: 2rem 1.5rem;

  .variables__heading {
    @include font-size('12');
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .variables__subtitle {
    @include font-size('11');
    display: inline-block;
    margin-bottom: 1rem;
    color: $text-03;
  }

  .variables__list {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
    border-bottom: 1px solid $ui-04;

    &:last-child {
      border: 0;
    }
  }
}

.variable {
  display: flex;
  flex-direction: column;
  flex-basis: 33.3333333%;
  margin: .25rem 0;

  .variable__input {
    border: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    min-height: 30px;
  }

  .variable__name {
    @include font-size('12');
    font-weight: 700;
  }

  .variable__hex {
    @include font-size('12');
    color: $text-03;
  }
}
