$font-path: './../assets/fonts';
$css--reset: true;
$css--font-face: true;

@import '../../../node_modules/carbon-components/scss/globals/scss/styles';
@import './sidebar';
@import './components';
@import './filter';
@import './footer';

html, body, #app, .container {
  min-height: 100%;
  width: 100%;
}

.container {
  display: flex;
}
